### 4.1.1.
Numpy를 사용하여 다음과 같은 행렬을 만든다.
```
10 20 30 40
50 60 70 80
```

In [1]:
import numpy as np

In [6]:
np.array([
    [10,20,30,40],
    [50,60,70,80]
])

array([[10, 20, 30, 40],
       [50, 60, 70, 80]])

### 4.2.2.
다음 행렬과 같은 행렬이 있다.
```
m = np.array([[ 0,  1,  2,  3,  4],
              [ 5,  6,  7,  8,  9],
              [10, 11, 12, 13, 14]])
```
1. 이 행렬에서 값 7 을 인덱싱한다.
2. 이 행렬에서 값 14 을 인덱싱한다.
3. 이 행렬에서 배열 [6, 7] 을 슬라이싱한다.
4. 이 행렬에서 배열 [7, 12] 을 슬라이싱한다.
5. 이 행렬에서 배열 [[3, 4], [8, 9]] 을 슬라이싱한다.

In [8]:
import numpy as np

m = np.array([[ 0,  1,  2,  3,  4],
              [ 5,  6,  7,  8,  9],
              [10, 11, 12, 13, 14]])

In [9]:
m[1,2]

7

In [10]:
m[2,4]

14

In [12]:
m[1,1:3]

array([6, 7])

In [13]:
m[1:, 2]

array([ 7, 12])

In [14]:
m[0:2, 3:]

array([[3, 4],
       [8, 9]])

### 4.1.3.
다음 행렬과 같은 배열이 있다.
```
x = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
              11, 12, 13, 14, 15, 16, 17, 18, 19, 20])
```
1. 이 배열에서 3의 배수를 찾아라.
2. 이 배열에서 4로 나누면 1이 남는 수를 찾아라.
3. 이 배열에서 3으로 나누면 나누어지고 4로 나누면 1이 남는 수를 찾아라.

In [15]:
import numpy as np

x = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
              11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [16]:
x[x % 3 == 0]

array([ 3,  6,  9, 12, 15, 18])

In [17]:
x[x % 4 == 1]

array([ 1,  5,  9, 13, 17])

In [23]:
x[(x % 3 == 0) & (x % 4 == 1)]

array([9])

### 4.1.4.
지금까지 공부한 명령어를 사용하여 다음과 같은 배열을 만들어라.
```
array([[   0.,    0.,    0.,    1.,    1.],
       [   0.,    0.,    0.,    1.,    1.],
       [   0.,    0.,    0.,    1.,    1.],
       [  10.,   20.,   30.,   40.,   50.],
       [  60.,   70.,   80.,   90.,  100.],
       [ 110.,  120.,  130.,  140.,  150.],
       [   0.,    0.,    0.,    1.,    1.],
       [   0.,    0.,    0.,    1.,    1.],
       [   0.,    0.,    0.,    1.,    1.],
       [  10.,   20.,   30.,   40.,   50.],
       [  60.,   70.,   80.,   90.,  100.],
       [ 110.,  120.,  130.,  140.,  150.]])
```

In [48]:
import numpy as np
z1 = np.zeros((3,3))
o1 = np.ones((3,2))
r1 = np.arange(1,16) * 10
r1 = r1.reshape(3,5)

result = np.hstack([z1, o1])
result = np.vstack([result, r1])
result = np.tile(result, (2,1))
result

array([[  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [ 10.,  20.,  30.,  40.,  50.],
       [ 60.,  70.,  80.,  90., 100.],
       [110., 120., 130., 140., 150.],
       [  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [  0.,   0.,   0.,   1.,   1.],
       [ 10.,  20.,  30.,  40.,  50.],
       [ 60.,  70.,  80.,  90., 100.],
       [110., 120., 130., 140., 150.]])

### 4.1.5.
실수로 이루어진 5 x 6 형태의 데이터 행렬을 만들고 이 데이터에 대해 다음과 같은 값을 구한다.

1. 전체의 최댓값
2. 각 행의 합
3. 각 열의 평균

In [58]:
import numpy as np
m1 = np.vstack([range(20)[i:i+6] for i in range(5)])
m1

array([[0, 1, 2, 3, 4, 5],
       [1, 2, 3, 4, 5, 6],
       [2, 3, 4, 5, 6, 7],
       [3, 4, 5, 6, 7, 8],
       [4, 5, 6, 7, 8, 9]])

In [59]:
m1.max()

9

In [61]:
m1.sum(axis=1)

array([15, 21, 27, 33, 39])

In [62]:
m1.mean(axis=0)

array([2., 3., 4., 5., 6., 7.])

### 4.1.6.
다음 배열은 첫번째 행(row)에 학번, 두번째 행에 영어 성적, 세번째 행에 수학 성적을 적은 배열이다. 영어 성적을 기준으로 각 열(column)을 재정렬하라.
```
array([[  1,    2,    3,    4],
       [ 46,   99,  100,   71],
       [ 81,   59,   90,  100]])
```

In [64]:
import numpy as np
m6 = np.array([[  1,    2,    3,    4],
       [ 46,   99,  100,   71],
       [ 81,   59,   90,  100]])

In [67]:
order6 = np.argsort(m6[1, :])
order6

array([0, 3, 1, 2])

In [69]:
m6[:, order6]

array([[  1,   4,   2,   3],
       [ 46,  71,  99, 100],
       [ 81, 100,  59,  90]])