In [1]:
import pandas as pd
import numpy as np

In [2]:
reserve_tb = pd.read_csv('./data/reserve.csv', encoding='UTF-8')

In [41]:
holiday_mst = pd.read_csv('./data/holiday_mst.csv', encoding='UTF-8')

## 10. 일시형

### 10.1. 일시형과 날짜형으로 변환

#### 일시형과 날짜형으로 변환

In [3]:
pd.to_datetime(reserve_tb['reserve_datetime'], format='%Y-%m-%d %H:%M:%S')

0      2016-03-06 13:09:42
1      2016-07-16 23:39:55
2      2016-09-24 10:03:17
3      2017-03-08 03:20:10
4      2017-09-05 19:50:37
               ...
4025   2017-06-27 23:00:02
4026   2017-09-29 05:24:57
4027   2018-03-14 05:01:45
4028   2016-04-16 15:20:17
4029   2016-06-06 08:16:51
Name: reserve_datetime, Length: 4030, dtype: datetime64[ns]

In [5]:
pd.to_datetime(
    reserve_tb['checkin_date'] + reserve_tb['checkin_time'],
    format='%Y-%m-%d%H:%M:%S'
)

0      2016-03-26 10:00:00
1      2016-07-20 11:30:00
2      2016-10-19 09:00:00
3      2017-03-29 11:00:00
4      2017-09-22 10:30:00
               ...
4025   2017-07-10 09:30:00
4026   2017-10-09 10:30:00
4027   2018-04-02 11:30:00
4028   2016-05-10 09:30:00
4029   2016-07-06 09:00:00
Length: 4030, dtype: datetime64[ns]

In [6]:
pd.to_datetime(
    reserve_tb['reserve_datetime'],
    format='%Y-%m-%d %H:%M:%S'
).dt.date

0       2016-03-06
1       2016-07-16
2       2016-09-24
3       2017-03-08
4       2017-09-05
           ...
4025    2017-06-27
4026    2017-09-29
4027    2018-03-14
4028    2016-04-16
4029    2016-06-06
Name: reserve_datetime, Length: 4030, dtype: object

In [8]:
pd.to_datetime(reserve_tb['checkin_date'], format='%Y-%m-%d').dt.time

0       00:00:00
1       00:00:00
2       00:00:00
3       00:00:00
4       00:00:00
          ...
4025    00:00:00
4026    00:00:00
4027    00:00:00
4028    00:00:00
4029    00:00:00
Name: checkin_date, Length: 4030, dtype: object

### 10.2. 연월일시각분초요일로 변환

In [9]:
reserve_tb['reserve_datetime'] = pd.to_datetime(
    reserve_tb['reserve_datetime'], format='%Y-%m-%d %H:%M:%S'
)

In [10]:
reserve_tb['reserve_datetime'].dt.year

0       2016
1       2016
2       2016
3       2017
4       2017
        ...
4025    2017
4026    2017
4027    2018
4028    2016
4029    2016
Name: reserve_datetime, Length: 4030, dtype: int64

In [11]:
reserve_tb['reserve_datetime'].dt.month

0       3
1       7
2       9
3       3
4       9
       ..
4025    6
4026    9
4027    3
4028    4
4029    6
Name: reserve_datetime, Length: 4030, dtype: int64

In [12]:
reserve_tb['reserve_datetime'].dt.day

0        6
1       16
2       24
3        8
4        5
        ..
4025    27
4026    29
4027    14
4028    16
4029     6
Name: reserve_datetime, Length: 4030, dtype: int64

In [13]:
# sun=0, mon=1, ...
reserve_tb['reserve_datetime'].dt.dayofweek

0       6
1       5
2       5
3       2
4       1
       ..
4025    1
4026    4
4027    2
4028    5
4029    0
Name: reserve_datetime, Length: 4030, dtype: int64

In [14]:
reserve_tb['reserve_datetime'].dt.hour

0       13
1       23
2       10
3        3
4       19
        ..
4025    23
4026     5
4027     5
4028    15
4029     8
Name: reserve_datetime, Length: 4030, dtype: int64

In [15]:
reserve_tb['reserve_datetime'].dt.minute

0        9
1       39
2        3
3       20
4       50
        ..
4025     0
4026    24
4027     1
4028    20
4029    16
Name: reserve_datetime, Length: 4030, dtype: int64

In [16]:
reserve_tb['reserve_datetime'].dt.second

0       42
1       55
2       17
3       10
4       37
        ..
4025     2
4026    57
4027    45
4028    17
4029    51
Name: reserve_datetime, Length: 4030, dtype: int64

In [17]:
reserve_tb['reserve_datetime'].dt.strftime('%Y-%m-%d %H:%M:%S')

0       2016-03-06 13:09:42
1       2016-07-16 23:39:55
2       2016-09-24 10:03:17
3       2017-03-08 03:20:10
4       2017-09-05 19:50:37
               ...
4025    2017-06-27 23:00:02
4026    2017-09-29 05:24:57
4027    2018-03-14 05:01:45
4028    2016-04-16 15:20:17
4029    2016-06-06 08:16:51
Name: reserve_datetime, Length: 4030, dtype: object

### 10.3. 일시의 차이로 변환
#### 일시 차이 계산

In [19]:
reserve_tb['reserve_datetime'] = \
    pd.to_datetime(
        reserve_tb['reserve_datetime'],
        format='%Y-%m-%d %H:%M:%S'
    )

reserve_tb['checkin_datetime'] = \
    pd.to_datetime(
        reserve_tb['checkin_date'] + reserve_tb['checkin_time'],
        format='%Y-%m-%d%H:%M:%S'
    )

reserve_tb['reserve_datetime'].dt.year - reserve_tb['checkin_datetime'].dt.year

0       0
1       0
2       0
3       0
4       0
       ..
4025    0
4026    0
4027    0
4028    0
4029    0
Length: 4030, dtype: int64

In [20]:
(reserve_tb['reserve_datetime'].dt.year * 12 +
 reserve_tb['reserve_datetime'].dt.month) \
 - (reserve_tb['checkin_datetime'].dt.year * 12 +
    reserve_tb['checkin_datetime'].dt.month)

0       0
1       0
2      -1
3       0
4       0
       ..
4025   -1
4026   -1
4027   -1
4028   -1
4029   -1
Length: 4030, dtype: int64

In [21]:
(reserve_tb['reserve_datetime'] - reserve_tb['checkin_datetime']) \
    .astype('timedelta64[D]')

0      -20.0
1       -4.0
2      -25.0
3      -22.0
4      -17.0
        ...
4025   -13.0
4026   -11.0
4027   -20.0
4028   -24.0
4029   -31.0
Length: 4030, dtype: float64

In [22]:
(reserve_tb['reserve_datetime'] - reserve_tb['checkin_datetime']) \
    .astype('timedelta64[h]')

0      -477.0
1       -84.0
2      -599.0
3      -512.0
4      -399.0
        ...
4025   -299.0
4026   -246.0
4027   -463.0
4028   -571.0
4029   -721.0
Length: 4030, dtype: float64

In [23]:
(reserve_tb['reserve_datetime'] - reserve_tb['checkin_datetime']) \
    .astype('timedelta64[m]')

0      -28611.0
1       -5031.0
2      -35937.0
3      -30700.0
4      -23920.0
         ...
4025   -17910.0
4026   -14706.0
4027   -27749.0
4028   -34210.0
4029   -43244.0
Length: 4030, dtype: float64

In [24]:
(reserve_tb['reserve_datetime'] - reserve_tb['checkin_datetime']) \
    .astype('timedelta64[s]')

0      -1716618.0
1       -301805.0
2      -2156203.0
3      -1841990.0
4      -1435163.0
          ...
4025   -1074598.0
4026    -882303.0
4027   -1664895.0
4028   -2052583.0
4029   -2594589.0
Length: 4030, dtype: float64

### 10.4. 일시형의 증감
####  일시의 증감 처리

In [25]:
import datetime

In [31]:
reserve_tb['reserve_datetime'] = \
    pd.to_datetime(reserve_tb['reserve_datetime'], format='%Y-%m-%d %H:%M:%S')
reserve_tb['reserve_date'] = reserve_tb['reserve_datetime'].dt.date

In [32]:
reserve_tb['reserve_datetime'] + datetime.timedelta(days=1)

0      2016-03-07 13:09:42
1      2016-07-17 23:39:55
2      2016-09-25 10:03:17
3      2017-03-09 03:20:10
4      2017-09-06 19:50:37
               ...
4025   2017-06-28 23:00:02
4026   2017-09-30 05:24:57
4027   2018-03-15 05:01:45
4028   2016-04-17 15:20:17
4029   2016-06-07 08:16:51
Name: reserve_datetime, Length: 4030, dtype: datetime64[ns]

In [30]:
reserve_tb['reserve_date'] + datetime.timedelta(days=1)

0       2016-03-07
1       2016-07-17
2       2016-09-25
3       2017-03-09
4       2017-09-06
           ...
4025    2017-06-28
4026    2017-09-30
4027    2018-03-15
4028    2016-04-17
4029    2016-06-07
Name: reserve_date, Length: 4030, dtype: object

In [33]:
reserve_tb['reserve_datetime'] + datetime.timedelta(hours=1)

0      2016-03-06 14:09:42
1      2016-07-17 00:39:55
2      2016-09-24 11:03:17
3      2017-03-08 04:20:10
4      2017-09-05 20:50:37
               ...
4025   2017-06-28 00:00:02
4026   2017-09-29 06:24:57
4027   2018-03-14 06:01:45
4028   2016-04-16 16:20:17
4029   2016-06-06 09:16:51
Name: reserve_datetime, Length: 4030, dtype: datetime64[ns]

In [34]:
reserve_tb['reserve_datetime'] + datetime.timedelta(minutes=1)

0      2016-03-06 13:10:42
1      2016-07-16 23:40:55
2      2016-09-24 10:04:17
3      2017-03-08 03:21:10
4      2017-09-05 19:51:37
               ...
4025   2017-06-27 23:01:02
4026   2017-09-29 05:25:57
4027   2018-03-14 05:02:45
4028   2016-04-16 15:21:17
4029   2016-06-06 08:17:51
Name: reserve_datetime, Length: 4030, dtype: datetime64[ns]

In [35]:
reserve_tb['reserve_datetime'] + datetime.timedelta(seconds=1)

0      2016-03-06 13:09:43
1      2016-07-16 23:39:56
2      2016-09-24 10:03:18
3      2017-03-08 03:20:11
4      2017-09-05 19:50:38
               ...
4025   2017-06-27 23:00:03
4026   2017-09-29 05:24:58
4027   2018-03-14 05:01:46
4028   2016-04-16 15:20:18
4029   2016-06-06 08:16:52
Name: reserve_datetime, Length: 4030, dtype: datetime64[ns]

### 10.5. 계절로 변환
- 월로 변환하면 변주가 너무 많을 수 있다
- 그렇다고 마냥 계절로 변환하는 것이 좋은 것은 아니다
 - 계절보다 기온 등의 정보가 더 정확할 수 있다

#### 계절로 변환

In [40]:
reserve_tb['reserve_datetime'] = pd.to_datetime(
    reserve_tb['reserve_datetime'],
    format='%Y-%m-%d %H:%M:%S'
)

def to_season(month_num):
    season = 'winter'
    if 3 <= month_num <= 5:
        season = 'spring'
    elif 6 <= month_num <= 8:
        season = 'summer'
    elif 9 <= month_num <= 11:
        season = 'autumn'
        
    return season

reserve_tb['reserve_season'] = pd.Categorical(
    reserve_tb['reserve_datetime'].dt.month.apply(to_season),
    categories=['spring', 'summer', 'autumn', 'winter']
)

reserve_tb[['reserve_datetime', 'reserve_season']]

        reserve_datetime reserve_season
0    2016-03-06 13:09:42         spring
1    2016-07-16 23:39:55         summer
2    2016-09-24 10:03:17         autumn
3    2017-03-08 03:20:10         spring
4    2017-09-05 19:50:37         autumn
...                  ...            ...
4025 2017-06-27 23:00:02         summer
4026 2017-09-29 05:24:57         autumn
4027 2018-03-14 05:01:45         spring
4028 2016-04-16 15:20:17         spring
4029 2016-06-06 08:16:51         summer

[4030 rows x 2 columns]

### 10.6. 시간대로 변환
- 24종류의 범주값이 생김
- 24시간을 나눌지 아침/점심/저녁으로 나눌지 등등 상황에 따라 잘 판단해야 함

### 10.7. 평일과 휴일로 변환
- 휴일, 휴일 전날, 연휴, 연휴 사이의 평일 등을 구분해야 한다.

#### 휴일 플래그 부여

In [42]:
pd.merge(
    reserve_tb,
    holiday_mst,
    left_on='checkin_date',
    right_on='target_day'
)

,reserve_id,hotel_id,customer_id,reserve_datetime,checkin_date,checkin_time,checkout_date,people_num,total_price,checkin_datetime,reserve_date,reserve_season,target_day,holidayday_flg,nextday_is_holiday_flg
0,r1,h_75,c_1,2016-03-06 13:09:42,2016-03-26,10:00:00,2016-03-29,4,97200,2016-03-26 10:00:00,2016-03-06,spring,2016-03-26,True,True
1,r1269,h_138,c_309,2016-03-14 13:57:45,2016-03-26,11:30:00,2016-03-29,4,115200,2016-03-26 11:30:00,2016-03-14,spring,2016-03-26,True,True
2,r2192,h_267,c_547,2016-03-21 09:23:13,2016-03-26,11:00:00,2016-03-27,2,19600,2016-03-26 11:00:00,2016-03-21,spring,2016-03-26,True,True
3,r2288,h_144,c_574,2016-03-05 23:44:17,2016-03-26,12:30:00,2016-03-28,3,60000,2016-03-26 12:30:00,2016-03-05,spring,2016-03-26,True,True
4,r2987,h_230,c_754,2016-03-21 07:00:01,2016-03-26,10:00:00,2016-03-27,2,34800,2016-03-26 10:00:00,2016-03-21,spring,2016-03-26,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4025,r3904,h_240,c_970,2018-04-10 10:01:59,2018-04-10,12:00:00,2018-04-13,4,320400,2018-04-10 12:00:00,2018-04-10,spring,2018-04-10,False,False
4026,r3905,h_230,c_970,2018-07-02 01:37:45,2018-07-24,12:30:00,2018-07-25,3,52200,2018-07-24 12:30:00,2018-07-02,summer,2018-07-24,False,False
4027,r3936,h_46,c_979,2018-09-10 05:48:22,2018-10-02,12:00:00,2018-10-05,3,166500,2018-10-02 12:00:00,2018-09-10,autumn,2018-10-02,False,False
4028,r3959,h_93,c_983,2018-02-16 11:01:40,2018-03-15,11:00:00,2018-03-17,3,58800,2018-03-15 11:00:00,2018-02-16,winter,2018-03-15,False,False
4029,r4020,h_243,c_996,2018-04-22 20:41:29,2018-05-21,12:00:00,2018-05-22,2,55400,2018-05-21 12:00:00,2018-04-22,spring,2018-05-21,False,False