In [1]:
import pandas as pd
import numpy as np

In [3]:
reserve_tb = pd.read_csv('./data/reserve.csv', encoding='UTF-8')

In [4]:
customer_tb = pd.read_csv('./data/customer.csv', encoding='UTF-8')

In [5]:
hotel_tb = pd.read_csv('./data/hotel.csv', encoding='UTF-8')

## 13. 연습 문제
### 13.2. 추천 전처리
#### 추천을 위한 희소 행렬 작성

In [10]:
reserve_tb = reserve_tb.query('"2016-01-01" <= checkin_date <= "2016-12-31"')

In [11]:
from scipy.sparse import csc_matrix

count_tb = reserve_tb \
    .groupby(['customer_id', 'hotel_id'])['reserve_id'] \
    .count() \
    .reset_index() \
    .rename(columns={'reserve_id': 'rsv_cnt'})

count_tb

     customer_id hotel_id  rsv_cnt
0            c_1    h_179        1
1            c_1    h_219        1
2            c_1     h_75        1
3           c_10    h_102        1
4           c_10    h_245        1
...          ...      ...      ...
2287       c_996     h_27        1
2288       c_997    h_159        1
2289       c_997    h_172        1
2290       c_999    h_244        1
2291       c_999      h_4        1

[2292 rows x 3 columns]

In [12]:
customer_categories = pd.Categorical(count_tb['customer_id'])
customer_categories

[c_1, c_1, c_1, c_10, c_10, ..., c_996, c_997, c_997, c_999, c_999]
Length: 2292
Categories (888, object): [c_1, c_10, c_100, c_1000, ..., c_995, c_996, c_997, c_999]

In [13]:
hotel_categories = pd.Categorical(count_tb['hotel_id'])
hotel_categories

[h_179, h_219, h_75, h_102, h_245, ..., h_27, h_159, h_172, h_244, h_4]
Length: 2292
Categories (300, object): [h_1, h_10, h_100, h_101, ..., h_96, h_97, h_98, h_99]

In [14]:
result2 = csc_matrix(
    (count_tb['rsv_cnt'], (customer_categories.codes, hotel_categories.codes)),
    shape=(len(customer_categories.categories), len(hotel_categories.categories))
)
print(result2)

  (263, 0)	1
  (326, 0)	1
  (359, 0)	1
  (377, 0)	1
  (423, 0)	1
  (647, 0)	1
  (734, 0)	1
  (137, 1)	1
  (614, 1)	1
  (10, 2)	1
  (144, 2)	1
  (148, 2)	1
  (190, 2)	1
  (207, 2)	1
  (361, 2)	1
  (478, 2)	1
  (559, 2)	1
  (620, 2)	1
  (709, 2)	1
  (716, 2)	1
  (765, 2)	1
  (782, 2)	1
  (89, 3)	1
  (90, 3)	1
  (182, 3)	1
  :	:
  (499, 297)	1
  (530, 297)	1
  (543, 297)	1
  (614, 297)	1
  (619, 297)	1
  (811, 297)	1
  (16, 298)	1
  (27, 298)	1
  (48, 298)	1
  (81, 298)	1
  (83, 298)	1
  (183, 298)	1
  (229, 298)	1
  (270, 298)	1
  (373, 298)	2
  (593, 298)	1
  (709, 298)	1
  (767, 298)	1
  (175, 299)	1
  (217, 299)	1
  (268, 299)	1
  (461, 299)	1
  (622, 299)	1
  (714, 299)	1
  (779, 299)	1